@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    box-sizing: border-box;
    height: 100%;
  }

  #root {
    background: 'url(http://pets-images.dev-apis.com/pets/wallpaperA.jpg)';
    backgroundrepeat: 'repeat';
  }
  /* inherit border-box on all elements in the universe and before and after
 */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
  }

  button {
    @apply inline-flex items-center px-6 py-3 text-base font-medium text-white border border-transparent rounded-md shadow-sm hover:opacity-50;
  }
}

@layer components {
}
